# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Streamlit cache
.streamlit/

# OS files
.DS_Store
*.csv

# Database files (if any local exports)
*.db
data/processed/file1_clean.csv

# Python cache
__pycache__/
*.pyc
*.pyo
